.env
example.log
**/__pycache__/
*.py[cod]
.ipynb_checkpoints
data
bash.exe.stackdump
kafka-data
kafka-ipynb_checkpoint
kafka-checkpoint
*.log
*.logs
venv/

.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
